

@font-face {
    font-family: 'PTSansBold';
    src: url('../fonts/PTSansBold.eot');
    src: url('../fonts/PTSansBold.eot') format('embedded-opentype'),
         url('../fonts/PTSansBold.woff2') format('woff2'),
         url('../fonts/PTSansBold.woff') format('woff'),
         url('../fonts/PTSansBold.ttf') format('truetype'),
         url('../fonts/PTSansBold.svg#PTSansBold') format('svg');
}


@font-face {
    font-family: 'PTSansRegular';
    src: url('../fonts/PTSansRegular.eot');
    src: url('../fonts/PTSansRegular.eot') format('embedded-opentype'),
         url('../fonts/PTSansRegular.woff2') format('woff2'),
         url('../fonts/PTSansRegular.woff') format('woff'),
         url('../fonts/PTSansRegular.ttf') format('truetype'),
         url('../fonts/PTSansRegular.svg#PTSansRegular') format('svg');
}
@font-face {
    font-family: 'PTSansItalic';
    src: url('../fonts/PTSansItalic.eot');
    src: url('../fonts/PTSansItalic.eot') format('embedded-opentype'),
         url('../fonts/PTSansItalic.woff2') format('woff2'),
         url('../fonts/PTSansItalic.woff') format('woff'),
         url('../fonts/PTSansItalic.ttf') format('truetype'),
         url('../fonts/PTSansItalic.svg#PTSansItalic') format('svg');
}
@font-face {
    font-family: 'PTSerifBold';
    src: url('../fonts/PTSerifBold.eot');
    src: url('../fonts/PTSerifBold.eot') format('embedded-opentype'),
         url('../fonts/PTSerifBold.woff2') format('woff2'),
         url('../fonts/PTSerifBold.woff') format('woff'),
         url('../fonts/PTSerifBold.ttf') format('truetype'),
         url('../fonts/PTSerifBold.svg#PTSerifBold') format('svg');
}

@font-face {
    font-family: 'PTSerifRegular';
    src: url('../fonts/PTSerifRegular.eot');
    src: url('../fonts/PTSerifRegular.eot') format('embedded-opentype'),
         url('../fonts/PTSerifRegular.woff2') format('woff2'),
         url('../fonts/PTSerifRegular.woff') format('woff'),
         url('../fonts/PTSerifRegular.ttf') format('truetype'),
         url('../fonts/PTSerifRegular.svg#PTSerifRegular') format('svg');
}


